*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body > div
{
    margin: auto;
}

.btn
{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    min-width: 120px;
}

/* chỉ tác động đến những những class btn có thẻ liền kề là btn */
.btn + .btn
{
    margin-left: 16px;
}

/* Enabel : Pointer and hover effect */

.btn:hover
{
    opacity: 0.8;
}

/* Disabel: Arrow, no effect */

.btn--disabel
{
    opacity: 0.5 !important;
    cursor: default;
}

.btn--success
{
    background-color: #71be34;
}

.btn--warn
{
    background-color: #ffb702;
}

.btn--danger
{
    background-color: #ff623d;
}

.btn--size-s
{
    padding: 8px 40px;
}

.btn--size-l
{
    padding: 16px 56px;
}

.toast
{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px 0 ;
    border-left: 4px solid ;
    border-radius: 2px;
    box-shadow:0 5px 8px rgba(0, 0, 0, 0.1);
    min-width: 450px;
    max-width: 500px;
}

.toast--success
{
    border-color: #71be34;
}

.toast--success .toast__icons
{
    color:#71be34 ;
}

.toast--info
{
    border-color:#2f86eb ;
}

.toast--info .toast__icons
{
    color:#2f86eb ;
}

.toast--warning
{
    border-color: #ffb702;
}

.toast--warning .toast__icons
{
    color:#ffb702 ;
}

.toast--error
{
    border-color: #ff623d;
}

.toast--error .toast__icons
{
    color: #ff623d;
}

.toast__close,
.toast__icons
{
    padding: 0 16px;
}

.toast__icons
{
    font-size: 25px;
}

.toast__body
{
    flex: 1 ;
}

.toast__title
{
    font-size: 18px;
    font-weight: 600;
}

.toast__message
{
    font-size: 16px;
    color: #ccc;
    margin-top: 6px;
}

.toast__close
{
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
}

.toast__close:hover
{
    opacity: 0.8;
}

