* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
}

.main {
    width: 1200px;
    min-height: 100vh;
    max-width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

.nav {
    display: flex;
    align-items: center;
    height: 48px;
    background-color: #333;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    margin-right: 48px;
}

.nav-bars-btn
{
    font-size:24px;
    color: #fff;
    display: none;
    margin-left: 20px;
}

.nav-checkbox-input:checked ~ .nav-overlay
{
    display: block;
}

.nav-checkbox-input:checked ~ .nav__mobile
{
    transform: translateX(0%);
}

.nav-overlay
{
    position:fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    animation: FadeIn ease 0.5s;
}

.nav__mobile
{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    width: 400px;
    max-width: 100%;
    transform: translateX(-100%);
    transition: transform linear 0.5s;
}

.nav__mobile-list
{
    margin-top: 40px;
    list-style: none;
}

.nav__mobile-link
{
    text-decoration: none;
    padding: 15px 0 ;
    font-size: 20px;
    color: #000;
}

.nav-mobile-cls 
{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.nav-mobile-cls:hover
{
    opacity: 0.3;
}

@media (max-width:1023px)
{
    .nav-bars-btn
    {
        display: block;
    }
    .nav__pc
    {
        display: none;
    }
}

@keyframes FadeIn
{
    from
    {
        opacity: 0;
    }
    to 
    {
        opacity: 1;
    }
}

/* Tablet lớn hơn 740px và bé hơn 1024px */
/* Mobile <740px */

/* Article */
h1 {
    line-height: 2rem;
}

article {
    padding: 0 16px;
    line-height: 1.6rem;
}

article img {
    width: 640px;
    max-width: 100%;
    display: block;
    margin: 32px auto;
}