/* Pc */
@media (min-width:1024px)
{
    #header .menu-mobi-btn
    {
        display: none;
    }
}

/* Tablet and pc low resolution */
@media (min-width:740px) and (max-width:1023px)
{
    #header .menu-mobi-btn
    {
        display: none;
    }
}

/* Mobile */
@media (max-width:739px)
{
    #nav > li 
    {
        display: block;
    }


    #header .search-btn
    {
        display: none;
    }
}